<main>
  <head>
    <h1>Handlebars &amp; Company</h1>
    <ul>
      {{#each item as |navitem|}}
        <li class="nav-item">
          <a href={{item.href}} target="_blank">
            {{item.routeName}}
          </a>
        </li>
      {{/each}}
    </ul>
  </head>
  {{#if isPayday}}
    {{currency ammount}}
  {{else}}
    <p class="user-message">
      Today is not payday
    </p>
  {{/if}}
</main>
